# Consomation des moteurs

## Etape 4. Etude des surconsommations.

In [3]:
import os
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

from utils import RelativeIqr

%matplotlib inline

%reload_ext autoreload
%autoreload 2

In [4]:
datadir = "../data/"
df = pd.read_hdf(os.path.join(datadir,"out","Results.h5"),"phase_table")
dffs = pd.read_hdf(os.path.join(datadir,"out","Results.h5"),"volume_table")

In [7]:
dffs

                   Duration [h]   Volume [l]  Estimate [l]   Linear [l]
AC   ENG   Flight
AC01 Left  0           1.630556  2564.251641   2533.571580  2698.773785
           1           1.704444  2667.712591   2643.350459  2803.728208
           2           1.554167  2341.632363   2331.164355  2590.268272
           3           1.450833  2078.471741   2159.568602  2443.489906
           4           0.998611  1568.263560   1587.088787  1801.137273
...                         ...          ...           ...          ...
AC03 Right 997         1.826667  2747.140013   2626.431347  2977.337028
           998         1.666944  2483.846311   2392.641979  2750.461865
           999         1.139167  1739.100029   1705.814037  2000.787415
           1000        1.430000  2091.253337   2180.168076  2413.897494
           1001        1.116667  1696.161761   1670.368430  1968.827610

[5982 rows x 4 columns]

In [17]:
y = dffs["Volume [l]"].values
hy = dffs["Estimate [l]"].values
res = RelativeIqr(y,hy,p=20)
print(f"Nombre de vols {len(y)}")
print(f"Surconsommation  : {np.mean(res.out>0):.1%}  ({sum(res.out>0)} vols)")
print(f"Sousconsommation : {np.mean(res.out<0):.1%}  ({sum(res.out<0)} vols)")

Nombre de vols 5982
Surconsommation  : 1.9%  (111 vols)
Sousconsommation : 2.8%  (169 vols)

## Fabrication de la table de synthèse pour estimer les raisons de surconsommation.

In [18]:
df

,AC,ENG,Flight,Phase,Weight [Kg],Leg [h],T_oil_init [C],Duration [h],Alt_max [ft],Mach_max,Slope [ft/s],Egt_mean [C],TAT_max [C],TAT_min [C],T_oil_range [C],TLA [#],NAIV [s],Volume [l]
0,AC01,Left,0,climb,3956.918246,2.063611,73.074434,0.276389,39439.264501,0.616248,37.642997,797.846132,28.110368,-18.379856,13.334751,50,0.000000,824.614809
1,AC01,Right,0,climb,3956.918246,2.063611,73.074434,0.276389,39439.264501,0.616248,37.642997,797.846132,28.110368,-18.379856,15.468311,49,0.000000,825.452162
2,AC01,Left,1,climb,4040.301713,2.071944,105.611225,0.287500,39457.811063,0.640898,36.044840,809.162879,40.543801,-11.622556,15.468311,10,0.000000,874.681045
3,AC01,Right,1,climb,4040.301713,2.071944,105.611225,0.287500,39457.811063,0.640898,36.044840,809.162879,40.543801,-11.622556,16.535091,9,0.000000,870.679693
4,AC01,Left,2,climb,3667.201361,1.956111,73.074434,0.311944,40825.620025,0.624464,34.549785,788.444108,25.948032,-21.353068,22.935771,65,0.000000,896.926225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993,AC03,Right,999,descend,2690.535261,1.458611,55.472563,0.352222,37621.701406,0.583381,27.702830,495.593485,14.325476,-28.921244,16.001701,144,506.049591,278.170176
1994,AC03,Left,1000,descend,3404.696804,1.976944,55.472563,0.849167,36471.814551,0.632681,11.387601,509.650415,8.919636,-23.245112,16.001701,222,681.264939,803.358004
1995,AC03,Right,1000,descend,3404.696804,1.976944,55.472563,0.849167,36471.814551,0.632681,11.387601,509.650415,8.919636,-23.245112,16.535091,232,681.264939,831.856418
1996,AC03,Left,1001,descend,2680.301984,1.505000,48.538492,0.373889,37134.854149,0.591598,25.752990,483.587175,10.811680,-27.569784,16.535091,205,0.000000,278.907346
1997,AC03,Right,1001,descend,2680.301984,1.505000,48.538492,0.373889,37134.854149,0.591598,25.752990,483.587175,10.811680,-27.569784,16.001701,200,0.000000,289.743591

In [20]:
df[df.Phase=="climb"].drop(columns=["Phase", "Weight [Kg]", "Leg [h]", "T_oil_init [C]"])

,AC,ENG,Flight,Duration [h],Alt_max [ft],Mach_max,Slope [ft/s],Egt_mean [C],TAT_max [C],TAT_min [C],T_oil_range [C],TLA [#],NAIV [s],Volume [l]
0,AC01,Left,0,0.276389,39439.264501,0.616248,37.642997,797.846132,28.110368,-18.379856,13.334751,50,0.000000,824.614809
1,AC01,Right,0,0.276389,39439.264501,0.616248,37.642997,797.846132,28.110368,-18.379856,15.468311,49,0.000000,825.452162
2,AC01,Left,1,0.287500,39457.811063,0.640898,36.044840,809.162879,40.543801,-11.622556,15.468311,10,0.000000,874.681045
3,AC01,Right,1,0.287500,39457.811063,0.640898,36.044840,809.162879,40.543801,-11.622556,16.535091,9,0.000000,870.679693
4,AC01,Left,2,0.311944,40825.620025,0.624464,34.549785,788.444108,25.948032,-21.353068,22.935771,65,0.000000,896.926225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993,AC03,Right,999,0.230278,37621.701406,0.583381,43.155993,753.559120,7.838468,-29.191536,21.335601,35,73.774883,708.624965
1994,AC03,Left,1000,0.234722,36471.814551,0.608031,40.127518,759.349624,14.866060,-23.515404,26.669501,32,0.000000,711.323933
1995,AC03,Right,1000,0.234722,36471.814551,0.608031,40.127518,759.349624,14.866060,-23.515404,26.669501,39,0.000000,729.057874
1996,AC03,Left,1001,0.253333,37134.854149,0.591598,38.720016,726.282370,8.108760,-29.191536,21.868991,66,71.469418,729.032455
1997,AC03,Right,1001,0.253333,37134.854149,0.591598,38.720016,726.282370,8.108760,-29.191536,22.935771,66,71.469418,742.697757

In [22]:
dffs.reindex()

                   Duration [h]   Volume [l]  Estimate [l]   Linear [l]
AC   ENG   Flight
AC01 Left  0           1.630556  2564.251641   2533.571580  2698.773785
           1           1.704444  2667.712591   2643.350459  2803.728208
           2           1.554167  2341.632363   2331.164355  2590.268272
           3           1.450833  2078.471741   2159.568602  2443.489906
           4           0.998611  1568.263560   1587.088787  1801.137273
...                         ...          ...           ...          ...
AC03 Right 997         1.826667  2747.140013   2626.431347  2977.337028
           998         1.666944  2483.846311   2392.641979  2750.461865
           999         1.139167  1739.100029   1705.814037  2000.787415
           1000        1.430000  2091.253337   2180.168076  2413.897494
           1001        1.116667  1696.161761   1670.368430  1968.827610

[5982 rows x 4 columns]